<section class="home">
    <div class="contenu">
        <!-- bonderole  -->
        <div class="titre">
            <h2><img src="https://maxcdn.icons8.com/Color/PNG/96/Folders/movies_folder-96.png" title="Movies Folder"
                     width="96"> Derniers Films ajoutés </h2>
        </div>
        <!-- bonderole  fin -->
        <!-- article  -->
        <div class="col-lg-4">

            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/1.jpg" alt="">
                <p> The Revenant </p>
            </div>

            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/2.jpg" alt="">
                <p>Les Huit salopards</p>
            </div>

        </div>
        <!-- article fin -->
        <!-- article  -->
        <div class="col-lg-4 ">

            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/3.jpg" alt="">
                <p>Le Réveil de la Force </p>
            </div>
            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/4.jpg" alt="">
                <p> Hunger Games</p>
            </div>

        </div>
        <!-- article fin -->
        <!-- article  -->
        <div class="col-lg-4 ">

            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/5.jpg" alt="">
                <p> nuances de grey</p>
            </div>
            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/6.jpg" alt="">
                <p>JOY</p>
            </div>

        </div>
        <!-- article fin -->
        <!-- article  -->
        <div class="col-lg-4">

            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/7.jpg" alt="">
                <p> comment c'est loin</p>
            </div>
            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/8.jpg" alt="">
                <p> JOY</p>
            </div>

        </div>
        <!-- article fin -->
        <!-- article  -->
        <div class="col-lg-4 ">
            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/9.jpg" alt="">
                <p> le pont des espions</p>
            </div>
            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/10.jpg" alt="">
                <p> legand</p>
            </div>
        </div>
        <!-- article fin -->
        <!-- article  -->
        <div class="col-lg-4 ">

            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/11.jpg" alt="">
                <p> creeed</p>
            </div>
            <div class="blocarticle">
                <img class="article img-thumbnail" src="img/12.jpg" alt="">
                <p> spectre</p>
            </div>

        </div>
        <!-- article fin -->

    </div>
    </div>
</section>